HUBSPOT_APP_ID=
HUBSPOT_CLIENT_ID=
HUBSPOT_CLIENT_SECRET=
HUBSPOT_PRIVATE_APP_TOKEN=

SEED_CONTACTS=
SEED_COMPANIES=
SEED_DEALS=

GEMINI_API_KEY=

PII_SAFE_MODE=true
ENCRYPT_SENSITIVE_DATA=true
ENCRYPTION_KEY=

# for encryption_key, run the following command to generate a random 32-byte key:
# openssl rand -base64 32
# python -c "import os,base64;print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
